@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Oswald:wght@200..700&family=Sekuya&display=swap");
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
@theme {
  /* Fonts */
  --font-Oswal: "Oswald", sans-serif;
  --font-sekuya: "Sekuya", system-ui;
  --font-Bungee: "Bungee", sans-serif;

  /* Color */
  /* Main COLOR */
  --primary-orange: #d35400;
  --secondary-beige: #f5f5dc;
  --accent-charcoal: #2c3e50;

  /* Background */
  --bg-cream: #fef9f3;
  --bg-white: #ffffff;

  /* text color */
  --text-main: #2c3e50;
  --text-muted: #7f8c8d;

  /* HOver */

  --hover-orange: #e67e22;
}

/*ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-out forwards;
}
